.caja {
  /* position: fixed; */
  /* display: inline-block; */
  /* display: block; */
  display: inline;
  /* display: inline-block; */
  /* display: none; */
  width: 100px;
  height: 100px;
  /* background: black; */
  padding: 30px;
  /* margin: 10px; */
  border: 2px solid black;
  background: red;
  color: gold;
  text-align: center;
  /* vertical-align: middle; */
}

#posAbsoluto {
  position: relative;
  top: 40px;
  left: 40px;
  background: green;
}
